/*******************************************************************************
 * Content
 ******************************************************************************/

@use "variables" as v;

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  padding-top: 57px;
}

.container {
  max-width: v.$max-content-width;
}

.profile {
  img {
    width: 100%;
  }
}
